.git
.gitignore

.venv
venv

__pycache__
*.pyc
*.pyo

.pytest_cache

.env
.env.*
document_service/.env

data/raw_data
data/vector_store
data/documents

document_service/data/documents

*.log

.vscode
.idea